<form action="http://127.0.0.1:5000/process" method="post" >

<h4>Patient Information</h4>

  <label for="PName">Name:</label>
  <input type="text" id="PName" name="PName"><br><br>
  <label for="BirthName">BirthName:</label>
  <input type="text" id="BirthName" name="BirthName"><br><br>
  <label for="MotherFirst">Mother First Name:</label>
  <input type="text" id="MotherFirst" name="MotherFirst"><br><br>
  <label for="MotherLast">Mother Last Name:</label>
  <input type="text" id="MotherLast" name="MotherLast"><br><br>
  <label for="DOB">Date Of Birth:</label>
  <input type="date" id="DOB" name="DOB"><br><br>
  <label for="Gender">Gender:</label>
  <input type="text" id="Gender" name="Gender"><br><br>
  <label for="BloodGroup">Blood Group:</label>
  <input type="text" id="BloodGroup" name="BloodGroup"><br><br>
  <label for="Address">Address:</label>
  <input type="text" id="Address" name="Address"><br><br>
  <label for="City">City:</label>
  <input type="text" id="City" name="City"><br><br>
  <label for="Pincode">Pincode:</label>
  <input type="text" id="Pincode" name="Pincode"><br><br>
  <label for="PPhone">Phone Number:</label>
  <input type="text" id="PPhone" name="PPhone"><br><br>

<h4>NK Information</h4>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="relation">Relation:</label>
  <select id="relation" name="relation">
    <option value="Father">Father</option>
    <option value="Mother">Mother</option>
    <option value="Wife">Wife</option>
    <option value="Sister">Sister</option>
    <option value="Brother">Brother</option>
  </select><br><br>

  <label for="ADT">Event:</label>
  <select id="ADT" name="ADT">
    <option value="A01">A01</option>
    <option value="A02">A02</option>
    <option value="A03">A03</option>
    <option value="A04">A04</option>
  </select><br><br>

  <label for="address2">Address:</label>
  <input type="text" id="address2" name="address2"><br><br>
  <label for="phone">Phone:</label>
  <input type="text" id="phone" name="phone"><br><br>

  <input type="submit" value="Submit">
</form>

